<div class="support_body_wrapper">
  <div class="support_body_container">
    <div class="ch_h-search-form_container pt-3 pb-3">
          {{search instant=true placeholder='Search our FAQs'}}
    </div>
    
    <h1>{{article.title}}</h1>
    <div id="ch_breadcrumbs">
      	{{breadcrumbs}}
    </div>	
    <div class="support_article_text pb-2">
     		{{article.body}}
   	</div>
		<button class="btn btn-secondary" onclick="toggleTicketForm()">
        Contact Us
    </button>
        <!--We're currently experiencing a high contact volume via chat and email due to finals at many schools! Thank you for your patience!-->
        <!-- <i class="fa fa-phone"></i> 
        Call 888-634-9397<br />
       	(Mon - Fri 7AM - 4PM PST)--/>
      </li>
	-->
 </div>
</div>