<footer id="ch-footer">
  <div class="ch-trust-seals_wrapper">
  	<div class="ch-trust-seals_container">
    	<span class="ch-trust-seals_verisign-icon"></span>
      <span class="ch-trust-seals_bbb-icon"></span>
      <div id="fb2f890b-c797-4871-8a9b-d0350de5fd5f" class="ch-trust-seals_truste-icon">
        <span class="ch-trust-seals_godaddy-icon">
            <a href="https://seal.godaddy.com/verifySeal?sealID=4nGuvXputH0td6HulIlkBzm7gS6p6svB6lie2k8vfnEXuPFO4v3GrpZ2i" 
               rel="nofollow noreferrer" target="_blank" title="Click to verify SSL site seal">
                <img src={{asset "godaddy_siteseal.png"}} alt="SSL site seal">
            </a>
        </span>
        <span class="ch-trust-seals_bbb-icon">
            <img src={{ asset"bbb-accredited-business.png"}} alt="Better Business Bureau accredited business">
        </span>
				<a href="//privacy.truste.com/privacy-seal/validation?rid=a50533b3-15e2-472e-a9fc-0fcdc0471ef1" target="_blank">
        	<img style="border: none" src="//privacy-policy.truste.com/privacy-seal/seal?rid=a50533b3-15e2-472e-a9fc-0fcdc0471ef1" alt="TRUSTe"/>
        </a>
      </div>
    </div>
  </div>
  <div class="ch-footer-links_wrapper">
  	<ul class="ch-footer-links_container" id="ch-footer-links_container">
      <li>
        <h6>Company</h6>
        <a href="https://www.coursehero.com/about-us/">About Us</a>
        <a href="https://www.coursehero.com/scholarships/">Scholarships</a>
        <a href="https://www.coursehero.com/sitemap/">Sitemap</a>
        <a href="https://www.coursehero.com/standardized-tests/">Standardized Tests</a>
        <a href="https://educators.coursehero.com/education-summit-2019/">Education Summit</a>
      </li>
      <li>
      	<h6>Get Course Hero</h6>
    	  <a href="https://itunes.apple.com/us/app/course-hero/id922208952?mt=8" target="_blank">iOS</a>
        <a href="https://play.google.com/store/apps/details?id=com.coursehero.coursehero&hl=en" target="_blank">Android</a>
        <a href="https://www.coursehero.com/faculty-club/">Educators</a>
			</li>
			<li>
  			<h6>Careers</h6>
  				<a href="https://www.coursehero.com/leadership/">Leadership</a>
  				<a href="https://www.coursehero.com/jobs/">Jobs</a>
			</li>
			<li>
  			<h6>Help</h6>
  			<a href="https://support.coursehero.com/hc/en-us/#/contact-us">Contact Us</a>
  			<a href="https://support.coursehero.com">FAQ</a>
  			<a href="https://www.coursehero.com/feedback.php">Feedback</a>
			</li>
			<li>
  			<h6>Legal</h6>
				<a href="https://www.coursehero.com/copyright/">Copyright Policy</a>
        <a href="https://www.coursehero.com/academic-integrity-policies/">Academic Integrity</a>
  			<a href="https://www.coursehero.com/honor-code/">Our Honor Code</a>
  			<a href="https://www.coursehero.com/privacy-policy/">Privacy Policy</a>
        <a href="https://www.coursehero.com/terms-of-use">Terms of Use</a>
      </li>
      <li>
        <h6>Connect with Us</h6>
        <a href="https://www.coursehero.com/college-life/">College Life</a>
        <a href="https://www.facebook.com/coursehero" target="_blank">Facebook</a>
        <a href="https://twitter.com/CourseHero" target="_blank">Twitter</a>
        <a href="https://www.linkedin.com/company/coursehero" target="_blank">LinkedIn</a>
        <a href="https://www.youtube.com/channel/UCt_TSquDx7B-2RX6y3dx3_g" target="_blank">YouTube</a>
        <a href="https://www.instagram.com/coursehero/" target="_blank">Instagram</a>
      </li>
    </ul>
  </div>
  <div class="ch-copyright_wrapper">
  	<div class="ch-copyright_container">
    	<p class="ch-copyright_info">
          Copyright © <span id="copyright_year">2019</span>. Course Hero, Inc.
      </p>
      <p class="ch-copyright_fyi">Course Hero is not sponsored or endorsed by any college or university.</p>
    </div>
  </div>
</footer>