<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-DK9F" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<header id="ch-header">
  <a href="https://www.coursehero.com/" id="ch_headerLogo_action">
      <img alt="Course Hero Logo" class="ch_header_logo" src="https://www.coursehero.com/assets/img/coursehero-logo.svg" width="210" height="40">
      <img alt="Course Hero Symbol" class="ch_headerMobile_logo" src="https://www.coursehero.com/assets/img/coursehero-logotype_white.svg" width="42" height="30">
  </a>
  <ul class="ch_nav_group isBrowseMenu">
  	<li>
  		<a class="ch_nav_action isHamburgerMenu" href="#" id="ch_hamburgerMenu">
        <span class="bar"></span>
        <span></span>
      </a>
  		<div class="ch_subNav_panel" id="ch_subNav_panel">
  			<ul class="ch_mobileNav_group">
        <li class="hasChildren">
          <a href="https://www.coursehero.com/study-materials/" class="" title="Study Resources">Study Resources</a>
  				<a href="https://www.coursehero.com/tutors/homework-help/" title="Expert Tutors">Expert Tutors</a>
          <a href="https://www.coursehero.com/free-access/" class="" title="Contributing">Contributing</a>
          <a href="https://www.coursehero.com/educators/" class="" title="For Educators" id="ch_areYouTeacher_button">For Educators</a>
        </li>
  			<li class="ch_mobileAppLinks">
          <a href="https://itunes.apple.com/app/apple-store/id922208952?pt=108036802&amp;ct=nav_menu&amp;mt=8" class="ch-external-link" target="_blank" rel="nofollow">
            <img alt="app store button" class="ch_mobilePromotion_button" src="https://www.coursehero.com/assets/img/header/appstore.png" height="30">
          </a>
          <a href="https://play.google.com/store/apps/details?id=com.coursehero.coursehero&amp;hl=en&amp;utm_campaign=nav_menu" class="ch-external-link" target="_blank" rel="nofollow">
            <img alt="google play button" class="ch_mobilePromotion_button" src="https://www.coursehero.com/assets/img/header/googleplay.png" height="30">
          </a>
        </li>
      </ul>
  	</div>
  	</li>
  	<li>
  		<a class="ch_nav_action" href="https://www.coursehero.com/study-materials/" title="Study Resources" id="" rel="">
  			<span class="bar"></span>
  			<span>
  				<span class="prefixVerb">Find</span>
  				Study Resources <i class="fa fa-angle-down"></i>
  			</span>
  		</a>
  	<div class="ch_subNav_panel">
  		<ul class="ch_subNav_group">
        <li class="">
        	<a href="https://www.coursehero.com/study-materials/" rel="" title="by School">
            by School
          </a>
        </li>
        <li class="byTextbook">
        	<a href="https://www.coursehero.com/textbook-solutions/" rel="" title="by Textbook">
            by Textbook
          </a>
        </li>
        <li class="" id="bySubject">
        	<a href="https://www.coursehero.com/subjects/" rel="" title="by Subject" id="">
            by Subject
          </a>
          <i class="right_arrow fa fa-chevron-right"></i>
          <ul class="ch_secondaryNav_group" id="bySubjectCategories">
            <li>
            	<a href="https://www.coursehero.com/sg/" rel="" title="Course Study Guides" id="">
              	Course Study Guides
              </a>
            </li>
          </ul>
        </li>
        <li class="" id="byBook">
        	<a href="https://www.coursehero.com/lit/" rel="" title="by Book" id="" class="">
            by Literature Title
          </a>
          <i class="right_arrow fa fa-chevron-right"></i>
          <ul class="ch_secondaryNav_group" id="byBookCategories">
            <li>
            	<a href="https://www.coursehero.com/lit/" rel="" title="Literature Study Guides" id="">
              	Literature Study Guides
              </a>
            </li>
            <li>
            	<a href="https://www.coursehero.com/infographics/" rel="" title="Infographics" id="" >
              	Infographics
              </a>
            </li>
          </ul>
        </li>
      </ul>
  	</div>
  </li>
  <li>
  	<a class="ch_nav_action" href="https://www.coursehero.com/tutors/homework-help/" title="Tutoring Help" id="" rel="">
  		<span class="bar"></span>
  		<span>
  			<span class="prefixVerb">24/7</span>
  			Homework Help
  		</span>
  	</a>
  </li>
  <li>
    <a class="ch_nav_action" href="https://www.coursehero.com/become-a-tutor/" title="Contributing" id="" rel="">
      <span class="bar"></span>
        <span>
        <span class="prefixVerb">Earn Free</span>
        Access <i class="fa fa-angle-down"></i>
      </span>
    </a>
    <div class="ch_subNav_panel">
      <ul class="ch_subNav_group">
        <li class="isSeparator">
        	Earn Free Access<a href="https://www.coursehero.com/free-access/" rel="" title="Earn Free Access" id="">Learn More &gt;</a>
        </li>
        <li class="">
        	<a href="https://www.coursehero.com/upload/" rel="nofollow" title="Upload Documents" id="">Upload Documents</a>
        </li>
        <li class="">
        	<a href="https://www.coursehero.com/referrals/" rel="" title="Refer your Friends" id="" class="">Refer your Friends</a>
        </li>
        <li class="isSeparator">
          Earn Money
        </li>
        <li>
          <a href="https://www.coursehero.com/become-a-tutor/" title="Become a Tutor" >Become a Tutor</a>
        </li>
        <li class="isSeparator">
        	Scholarships<a href="https://www.coursehero.com/scholarships/" rel="" title="Earn Free Access" id="">Learn More &gt;</a>
        </li>
      </ul>
    </div>
  </li>
  <li>
    <a class="ch_nav_action" href="https://www.coursehero.com/educators/" title="For Educators" id="" rel="">
    <span class="bar"></span>
      <span>
      <span class="prefixVerb">For</span>
      Educators
    </span>
  </a>
  </li>
</ul>
</header>

<!--script type="text/javascript">
  jQuery("#ch-header_mobile-nav_action").click(function(e){
  jQuery("body").toggleClass("ch_mobile-nav_enabled");
  jQuery(this).toggleClass("highlighted");
  jQuery("#ch-header_product-user-nav_container").toggleClass("show");
  e.preventDefault();
  })
</script-->
<script>
  $("#ch_hamburgerMenu").click(() => {
    $("#ch_hamburgerMenu").toggleClass("dropdownIsActive")
    $("#ch_subNav_panel").toggleClass("dropdownIsActive")
  })

  jQuery("#byBook").hover(
  	function() {
  		jQuery("#byBookCategories").addClass("isDisplayed");
  	},
  	function() {
  		jQuery("#byBookCategories").removeClass("isDisplayed");
  	}
  )
  
  jQuery("#bySubject").hover(
  	function() {
  		jQuery("#bySubjectCategories").addClass("isDisplayed");
  	},
  	function() {
  		jQuery("#bySubjectCategories").removeClass("isDisplayed");
  	}
  )
</script>
<!-- Start of coursehero Zendesk Widget script -->
<script>/*<![CDATA[*/window.zE||(function(e,t,s){var n=window.zE=window.zEmbed=function(){n._.push(arguments)}, a=n.s=e.createElement(t),r=e.getElementsByTagName(t)[0];n.set=function(e){ n.set._.push(e)},n._=[],n.set._=[],a.async=true,a.setAttribute("charset","utf-8"), a.src="https://static.zdassets.com/ekr/asset_composer.js?key="+s, n.t=+new Date,a.type="text/javascript",r.parentNode.insertBefore(a,r)})(document,"script","a3fa862d-3af1-4b05-8339-b07fb740e710");/*]]>*/</script>
<!-- End of coursehero Zendesk Widget script -->